<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <h1>Unit ID #<%= @lease.first.unit_id %></h1>
    <p>Information about this lease / unit.</p>
  </body>

</html>
